.game-box,
.movie-box {
  width: 100%;
}
.game-box .atropos-inner,
.movie-box .atropos-inner {
  z-index: 1;
}
.game-box img,
.movie-box img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
  z-index: 1;
  transform-style: preserve-3d;
  pointer-events: none;
  max-width: none;
}
.game-box .atropos-shadow,
.movie-box .atropos-shadow {
  opacity: 0.5;
  transform: translate3d(0, 0, -1px);
}

.game-box {
  --side-color: #004297;
  --side-size: 32px;
  aspect-ratio: 526 / 656;
}
.game-box img.game-box-bg {
  left: -5%;
  top: -5%;
  width: 110%;
  height: 110%;
}
.game-box img.game-box-size {
  position: relative;
  width: 100%;
  height: auto;
  left: 0;
  top: 0;
  visibility: hidden;
}
.game-box .atropos-rotate::before {
  content: "";
  position: absolute;
  left: 0;
  width: calc(100% + 8px);
  height: calc(100% + 16px);
  top: -8px;
  /* background: #086ef4; */
  /* border-radius: 8px; */
  z-index: 1;
}
.game-box-t,
.game-box-r,
.game-box-b,
.game-box-l {
  transform-style: preserve-3d;
  backface-visibility: hidden;
  position: absolute;
  /* display: none; */
}
.game-box-t {
  width: calc(100% + 8px);
  height: var(--side-size);
  background: var(--side-color);
  left: 0;
  top: -8px;
  transform: translate3d(0, 0, -32px) rotateX(90deg);
  transform-origin: center top;
}
.game-box-b {
  width: calc(100% + 8px);
  height: var(--side-size);
  background: var(--side-color);
  left: 0;
  bottom: -8px;
  transform: translate3d(0, 0, -32px) rotateX(-90deg);
  transform-origin: center bottom;
}
.game-box-r {
  width: var(--side-size);
  height: calc(100% + 16px);
  background: var(--side-color);
  right: -8px;
  top: -8px;
  transform: translate3d(0, 0, -32px) rotateY(90deg);
  transform-origin: right center;
}
.game-box-l {
  width: var(--side-size);
  height: calc(100% + 16px);
  background: var(--side-color);
  left: 0px;
  top: -8px;
  transform: translate3d(0, 0, -32px) rotateY(-90deg);
  transform-origin: left center;
  overflow: hidden;
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 10.4%;
    background: #a5a5a5;
    left: 0;
    top: 9px;
  }
}

.my-atropos {
  width: 800px;
  height: 500px;
  position: relative;
  margin: 2rem auto 0 auto;
}
.atropos-inner,
.atropos-scale,
.atropos-rotate,
.mk-card {
  overflow: visible;
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 1.5rem;
}
.my-atropos:hover .flame {
  opacity: 1;
}
.flame {
  opacity: 0;
  background: url("../img/sparkles.gif");
  z-index: 1;
  mix-blend-mode: lighten;
  filter: brightness(0.7);
  transition: opacity 0.25s ease-in-out;
}
.mk-card {
  background: url("/mk-bg.png");
}
.mk-card,
.flame {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 1.5rem;
  position: absolute;
  width: 100%;
  height: 100%;
}
.mk-card .mk-title {
  position: absolute;
  width: 50%;
  display: grid;
  width: 50%;
  padding: 5.5rem 0 0 3rem;
  border-radius: inherit;
}
.mk-card > .mk-title > * {
  margin-top: 0;
  margin-bottom: 2rem;
}
.mk-card img {
  margin: 0 auto;
}
.mk-card img:nth-child(1) {
  height: 130px;
}
.mk-card img:nth-child(2),
.mk-card img:nth-child(3) {
  height: 60px;
}

/* RESPONSIVE */

@media (max-width: 640px) {
  .my-atropos {
    width: 90% !important;
    height: 250px !important;
  }
  .mk-card img:nth-child(1) {
    height: 60px !important;
  }
  .mk-card img:nth-child(2),
  .mk-card img:nth-child(3) {
    height: 27px !important;
  }
  .mk-card > .mk-title > * {
    margin-bottom: 0.75rem !important;
  }
  .mk-card .mk-title {
    padding: 3rem 0 0 1.5rem !important;
  }
}

@media (max-width: 768px) {
  .my-atropos {
    width: 90%;
    height: 350px;
  }
  .mk-card img:nth-child(1) {
    height: 80px;
  }
  .mk-card img:nth-child(2),
  .mk-card img:nth-child(3) {
    height: 40px;
  }
  .mk-card > .mk-title > * {
    margin-bottom: 1rem;
  }
  .mk-card .mk-title {
    padding: 4.5rem 0 0 1.5rem;
  }
}

@media (min-width: 1024px) {
  .my-atropos {
    width: 800px;
    height: 500px;
  }
  .mk-card img:nth-child(1) {
    height: 130px;
  }
  .mk-card img:nth-child(2),
  .mk-card img:nth-child(3) {
    height: 60px;
  }
  .mk-card .mk-title {
    padding: 5.5rem 0 0 3rem;
  }
  .mk-card > .mk-title > * {
    margin-bottom: 2rem;
  }
}

.card {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flame {
  opacity: 0;
  background: url("/path-to-sparkles.gif");
  z-index: 1;
  mix-blend-mode: lighten;
  filter: brightness(0.7);
  transition: opacity 0.25s ease-in-out;
}

.card-content {
  position: absolute;
  width: 90%;
  padding: 1rem;
  text-align: center;
}

.card-content h2 {
  margin-bottom: 0.5rem;
}

.card-content h3 {
  color: #d1d5db;
}

@media (max-width: 640px) {
  .my-atropos {
    width: 90% !important;
    height: 300px !important;
  }
}

@media (max-width: 768px) {
  .my-atropos {
    width: 80% !important;
    height: 350px !important;
  }
}
